@import "variables";

// Background Styles
.splash {
  background: $dark-gray;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  opacity: 1;
  transition: all 1000ms ease-in-out 0ms;
}

.splash-logo {
  height: 300px;
  width: 300px;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 45%;
}

.splash-text {
  width: 250px;
  margin: auto;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 72%;
}

.anim .splash-border {
  stroke-dasharray: 1000 1000;
  stroke-dashoffset: 1000;
  animation: stroke 2500ms ease-in 1000ms forwards;
}

.anim .splash-1 {
  opacity: 0;
  animation: fade 1500ms ease-in-out 1500ms forwards;
}

.anim .splash-2 {
  opacity: 0;
  animation: fade 1500ms ease-in-out 2000ms forwards;
}

.anim .splash-text {
  opacity: 0;
  animation: fade 1000ms ease-in-out 2500ms forwards;
}

@keyframes stroke {
  0% {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 1000;
  }

  99% {
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: none;
    stroke-dashoffset: 0;
  }
}

// Loading Text Styles
.splash-loading {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.splash-loading img {
  height: 30px;
}

// Animations
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.dot {
  height: 20px;
  width: 20px;
  margin: 8px;
  border-radius: 50%;
}

.dot1 {
  background-color: $orange;
  animation: grow 600ms ease-in-out 0ms infinite alternate;
}

.dot2 {
  background-color: $green;
  animation: grow 600ms ease-in-out 150ms infinite alternate;
}

.dot3 {
  background-color: $cyan;
  animation: grow 600ms ease-in-out 300ms infinite alternate;
}
