$orange: rgba(255, 87, 34, 1);
$orange-transparent: rgba(255, 87, 34, 0.5);

$green: rgb(0, 200, 83, 1);
$green-transparent: rgb(0, 200, 83, 0.5);

$cyan: rgba(0, 188, 212, 1);
$cyan-transparent: rgba(0, 188, 212, 0.5);

$white: rgba(255, 255, 255, 1);
$white-transparent: rgba(255, 255, 255, 0.5);

$dark-gray: rgba(50, 50, 50, 1);
$dark-gray-transparent: rgba(50, 50, 50, 0.5);
