$orange: rgba(255, 87, 34, 1);
$orange-transparent: rgba(255, 87, 34, 0.5);
$orange-light-transparent: rgba(255, 87, 34, 0.9);

$green: rgba(67, 160, 71, 1);
$green-transparent: rgba(67, 160, 71, 0.5);
$green-light-transparent: rgba(67, 160, 71, 0.9);

$cyan: rgba(0, 188, 212, 1);
$cyan-transparent: rgba(0, 188, 212, 0.5);
$cyan-light-transparent: rgba(0, 188, 212, 0.9);

$white: rgba(255, 255, 255, 1);
$white-transparent: rgba(255, 255, 255, 0.5);

$dark-gray: rgba(50, 50, 50, 1);
$dark-gray-transparent: rgba(50, 50, 50, 0.5);
