@import 'variables';

.footer {
  background: url("/assets/prism.jpg");
  color: $white-transparent;
}

.social-icon {
  height: 55px;
  width: 55px;
  margin: 15px;
  transition: all 500ms;
  border-radius: 50%;
  padding: 0;
  -webkit-appearance: none;
}

.linkedin img {
  width: 25px;
  height: 25px;
  margin-top: 14px;
}

.github img,
.soundcloud img {
  width: 30px;
  height: 30px;
  margin-top: 12.5px;
}

.sitemap {
  background: rgba(255, 255, 255, 0.05);
  word-break: break-word;
}

.sitemap a {
  margin-right: 60px;
  color: $white;
  display: inline-block;
}

@media (max-width: 767px) {
  .sitemap a {
    display: block;
    margin: 15px 0;
  }
}