<div class="footer text-center mb-0">
    <div class="sitemap py-2">
        <div class="container text-left">
            <a class="small" routerLink="/">Home </a>
            <a class="small" routerLink="/about"> About </a>
            <a class="small" routerLink="/code"> Code </a>
            <a class="small" routerLink="/projects"> Projects </a>
            <a class="small" routerLink="/blog"> Blog </a>
            <a class="small" routerLink="/contact"> Contact </a>
        </div>
    </div>
    <div class="container pt-5">
        <h5 class="orbitron-font mb-0"> FIND ME ONLINE </h5>
        <div class="social-icons-container" class="d-flex justify-content-center">
            <a type="button" href="https://github.com/huawillian" target="_blank"
                class="btn btn-green social-icon github">
                <img src="/assets/github-logo.svg" alt="github">
            </a>
            <a type="button" href="https://linkedin.com/in/huawillian 
            " target="_blank" class="btn btn-cyan social-icon linkedin">
                <img src="/assets/linkedin-logo.svg" alt="linkedin">
            </a>
            <a type="button" href="https://soundcloud.com/willian-hua
            " target="_blank" class="btn btn-orange social-icon soundcloud">
                <img src="/assets/soundcloud-logo.svg" alt="soundcloud">
            </a>
        </div>
        <p class="mt-2"> This website is personally handcrafted and built from scratch by me. It was
            created using Angular 8, Bootstrap 4, and Firebase in addition to the base technologies (HTML, CSS, JS).</p>
        <p class="pb-5 mb-0">
            If you have feedback or any questions, please feel free to email me at <a
                href="mailto:huawillian@gmail.com?Subject=Code%20With%20Willian%20Feedback"
                target="_top">huawillian@gmail.com</a>
        </p>
    </div>
</div>