<div class="jumbotron jumbotron-fluid mb-0 pt-5 pb-5">
    <div class="container text-center mb-5">
        <img class="profile-img mb-4" src="/assets/profile.png" alt="profile">
        <h1>Willian Hua</h1>
        <p class="mb-4">Software Engineer</p>
        <div class="contacts m-auto">
            <ul>
                <li>
                    <div class="contact-item">
                        <img src="/assets/email-logo.svg" alt="">
                        <span>huawillian@gmail.com</span>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <img src="/assets/phone-logo.svg" alt="">
                        <span>(973) 487-9888</span>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <img src="/assets/location-logo.svg" alt="">
                        <span>Jersey City, NJ</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>