.jumbotron {
  background: transparent;
  color: white;
  min-height: 600px;
  display: flex;
  align-items: center;
  text-shadow: 0 0 20px black;

  .profile-img {
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.5) solid 4px;
    height: 300px;
    width: 300px;
    animation: fade-in-delay 2500ms;
  }

  h1 {
    animation: fade-in-delay 3000ms;
    font-family: "Orbitron", sans-serif;
  }

  .contacts {
    width: 300px;
  }

  .contact-item {
    text-align: left;
    min-width: 250px;
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    padding: 5px 20px;
    animation: fade-in-delay 4000ms;

    img {
      height: 20px;
      margin-top: -3px;
      margin-right: 25px;
    }
  }

  p {
    margin-bottom: 0;
    animation: fade-in-delay 3500ms;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.05em;
  }
}

@keyframes fade-in-delay {
  0% {
    filter: opacity(0%);
  }

  33% {
    filter: opacity(0%);
  }

  100% {
    filter: opacity(100%);
  }
}

.copied-alert {
  position: fixed;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1000;
  animation: fade-in 3000ms ease-in reverse;

  .close {
    margin-top: -3px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 10px;
}
