<app-hero-banner [fullHeight]="true">
    <div class="banner-content">
        <img class="profile-img fade-in-delay-sm mb-4" src="/assets/profile.png" alt="profile">
        <h1 class="orbitron-font fade-in-delay-md">Willian Hua</h1>
        <p class="orbitron-font mb-4 fade-in-delay-lg">Software Engineer</p>
        <div class="contacts m-auto fade-in-delay-xlg">
            <ul>
                <li>
                    <div class="contact-item">
                        <img src="/assets/email-logo.svg" alt="">
                        <span>huawillian@gmail.com</span>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <img src="/assets/phone-logo.svg" alt="">
                        <span>(973) 487-9888</span>
                    </div>
                </li>
                <li>
                    <div class="contact-item">
                        <img src="/assets/location-logo.svg" alt="">
                        <span>Jersey City, NJ</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</app-hero-banner>