<app-hero-banner [fullHeight]="true">
    <div class="banner-content">
        <img class="profile-img fade-in-delay-sm mb-4" src="/assets/profile.png" alt="profile">
        <h1 class="orbitron-font fade-in-delay-sm">About Me</h1>
        <div class="py-3 col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="row justify-content-center">
                <p class="fade-in-delay-sm">
                    My name is Willian Hua. I am a professional
                    <strong> Software Engineer </strong>
                    and a Google certified
                    <strong> Mobile Web Specialist</strong>.
                </p>
            </div>
            <div class="row justify-content-center">
                <p class="fade-in-delay-md">
                    But most importantly, I am a
                    <strong> Life Long Student</strong>.
                    Here are some things about me that I have learned throughout my life...
                </p>
            </div>
        </div>
    </div>
</app-hero-banner>

<div class="section section-1 d-flex">
    <div class="bg-img"></div>
    <div class="container d-flex my-5">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row h-100">
                <div class="col-12 align-self-start">
                    <div class="label h2"> Diligence. </div>
                    <div class="label h2"> Work Ethics. </div>
                    <div class="label h2"> Patience. </div>
                </div>
                <div class="offset-md-4 col-md-8 align-self-center">
                    <div class="description">
                        <h2 class="h3 my-4"><strong>Growing Up, </strong></h2>
                        <p>I was surrounded by music. At some point, my weekly schedule would consist of piano,
                            violin, and trumpet lessons as well as orchestra and band practice. And I wasn't always
                            great at it. During a performance, I would play the violin with the up/down motions and
                            without touching the strings. So I practiced frequently and learned that many things
                            take time and patience. </p>
                        <p>I also learned that perfect practice makes perfect. When starting out with piano, it's
                            important to practice one hand at a time before combining both hands as well as using the
                            correct fingerings to move up and down the scale. Improper practice can lead to bad habits
                            which can prevent one from improving. </p>
                        <p>I carried these important life lessons throughout my education, career, and personal life.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-2 d-flex">
    <div class="container d-flex my-5">
        <div class="col-12 col-lg-10 offset-lg-1 flex-wrap">
            <div class="row h-100">
                <div class="col-12 align-self-start">
                    <div class="float-md-right">
                        <div class="label h2"> Competition. </div>
                        <div class="label h2"> Determination. </div>
                        <div class="label h2"> Inspiration. </div>
                    </div>
                </div>
                <div class="col-md-8 align-self-center">
                    <div class="row">
                        <div class="description my-4 p-4">
                            <h2 class="h3 mb-4"><strong>High School </strong></h2>
                            <p> High School was a difficult time of my life. I was suffering from depression and would
                                often indulge in food cravings. However, playing video games helped me overcome this
                                phase.
                            </p>
                            <p>
                                I played extremely competetive video games with my friends. Every time I lost, I would
                                be even more determined to win. So, I studied the game mechanics, tried innovative
                                strategies, and kept practicing dexterous movements on the controller until I finally
                                won. I found a lot of joy in such friendly competition as we could see how much we
                                improved by continuously challenging each other. I would continue to use it as a way to
                                learn new skills and improve myself.
                            </p>
                            <p>
                                I also fell in love with the gaming community and how much creativity went into the
                                creation of a game. I eventually started working on my own games even though my school
                                did not teach programming. I remember installing a virtual machine on my family's
                                computer, creating the character pixel sprites, and learning how to program in C++. The
                                result was a pixel graphic zombie survival game with Super Mario like mechanics where
                                you could hide behind trash cans if you ran out of bullets. And if you ran fast enough,
                                you could even see flying zombies from the game physics and spawn location of the
                                zombies.
                            </p>
                            <p>
                                Video games inspired me to major in Computer Science
                                and eventually become a software engineer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="white-bg pt-3 pb-5">
    <div class="section section-3 d-flex">
        <div class="container d-flex my-5">
            <div class="col-12 col-lg-10 offset-lg-1 flex-wrap">
                <div class="row h-100">
                    <div class="col-12 align-self-start">
                        <div>
                            <div class="label h2 text-orange"> Ambition. </div>
                            <div class="label h2 text-cyan"> Curiosity. </div>
                            <div class="label h2 text-green"> Innovation. </div>
                        </div>
                    </div>
                    <div class="offset-md-2 col-md-10 align-self-center">
                        <div class="row">
                            <div class="description my-4 p-4 shadow">
                                <h2 class="h3 mb-4"><strong>Undergraduates </strong></h2>
                                <p>
                                    Undergraduates was the best time of my life (so far). During these 4 years, I wanted
                                    to
                                    maximize my education and learn as many new things outside of school. As a result, I
                                    joined at least 8 different student clubs and even started a few of my own trends.
                                    Once
                                    every year, the Asian American student body would put together a show called
                                    <strong>Mystique</strong>
                                    filled with a dozen performances from varying parts of Asia. We had practices
                                    throughout
                                    the year just to prepare for this show! I was ambitious in every sense and created
                                    some
                                    very
                                    memorable moments in the show. Here are a few of my favorite moments...
                                </p>
                                <iframe class="py-3" width="100%" height="400"
                                    src="https://www.youtube-nocookie.com/embed/HjLUzt_U-aU?start=375" frameborder="0"
                                    allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
                                <iframe class="py-3" width="100%" height="400"
                                    src="https://www.youtube-nocookie.com/embed/-8DHZkYJPVU?start=8" frameborder="0"
                                    allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
                                <p>
                                    I was also very curious about different areas within Computer Science such as
                                    Machine Learning, Computer Vision, and Software Engineering and pushed myself to
                                    learn these topics. I eventually did an undergraduates research program in Georgia
                                    State University on high performance datamining and even published that paper in
                                    IEEE. The next year, I did my own research in TCNJ transcribing Taiko arrangements
                                    using my understanding with machine learning and computer vision. The research paper
                                    was then published in ICMA. In my last year, I interned at SRI International
                                    implementing an Augmented Reality training renderer within embedded systems running
                                    in Android, Unity, Linux (chrooted).
                                </p>
                                <p>
                                    I eventually graduated with Magna Cum Laude honors, Dean's List, and a few honor
                                    societies (PBK, UPE, and Golden Key International). I had opened so many doors and
                                    could pursue anything I wanted. But, what did I really want?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>