@import 'variables';

.jumbotron {
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 20px $dark-gray;
  margin: 0 !important;
}

.jumbotron.full-height {
  padding: 0 !important;
  min-height: 90vh;
}
