@import "variables";

.breadcrumbs-container {
  background: url("/assets/prism.jpg");
  color: $white-transparent;
  position: fixed;
  width: 100%;
  z-index: 1029;
  opacity: 0.95;

  a {
    font-weight: bold;
    color: $white;
    opacity: 0.75;
  }
}

.breadcrumbs-inner-container {
  background: rgba(255, 255, 255, 0.05);
}

.right-arrow {
  height: 10px;
}

.thumbnail {
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
}

@media screen and (max-width: 767.8px) {
  .thumbnail {
    height: 250px;
  }
}

.info {
  color: $white;
  height: 25px;
  font-size: 15px;
}

.green {
  .info,
  .tldr-container,
  .links-container {
    background: $green;
  }
}

.orange {
  .info,
  .tldr-container,
  .links-container {
    background: $orange;
  }
}

.cyan {
  .info,
  .tldr-container,
  .links-container {
    background: $cyan;
  }
}

.tags {
  height: 25px;
}

.tldr-container {
  color: $white;
  border-radius: 2px;
  line-height: 2rem;

  h2 {
    display: inline;
    font-weight: bold;
    font-size: 1.25rem;
  }

  p {
    display: inline;
    font-size: 1.25rem;
  }
}

.links-container {
  color: $white;
  border-radius: 2px;
  line-height: 2rem;

  h2 {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .link-logo {
    height: 22px;
    width: 22px;
    margin-top: -4px;
  }

  a {
    color: $white;
    word-break: break-all;
  }
}
