<div class="breadcrumbs-container" *ngIf="failed === false">
    <div class="breadcrumbs-inner-container py-2">
        <div class="container">
            <div class="col-12 col-lg-10 offset-lg-1">
                <a [routerLink]="routeBackPath" class="small">{{routeBackText}}</a>
                <img class="right-arrow mx-3" src="/assets/right-arrow.svg" alt="">
                <span class="small">{{title}}</span>
            </div>
        </div>
    </div>
</div>
<div class="content pt-5 pb-4" [ngClass]="cssClass">
    <div class="container">
        <div class="col-12 col-lg-10 offset-lg-1" *ngIf="failed === false">
            <div *ngIf="thumbnail" class="thumbnail my-3 shadow-sm fade-in-delay-sm"
                [ngStyle]="{'background-image': 'url(' + thumbnail + ')'}"></div>
            <div class="d-flex flex-wrap mb-1 fade-in-delay-md">
                <h1 class="orbitron-font mr-2 mb-0">{{title}}</h1>
                <div *ngIf="info" class="info orbitron-font py-1 px-2 shadow-sm">{{info}}</div>
            </div>
            <p *ngIf="description" class="orbitron-font lead mb-3 fade-in-delay-md">{{description}}</p>
            <div *ngIf="categories" class="fade-in-delay-md">
                <img class="tags mr-2" src="/assets/tags.svg" alt="">
                <span class="orbitron-font ml-1">{{categories}}</span>
            </div>
            <hr>
            <div *ngIf="tldr && isCode === false" class="tldr-container shadow-sm mb-4 mt-2 p-3 fade-in-delay-md">
                <h2 class="h5 mr-2">TLDR;</h2>
                <p class="mb-0">{{tldr}}</p>
            </div>
            <div *ngIf="articleDetails?.fields?.body && isCode === false" class="fade-in-delay-lg"
                [innerHTML]="articleDetails.fields.body.stringValue"></div>
            <div *ngIf="isCode === true" class="fade-in-delay-lg">
                <h3 class="mb-3">Problem</h3>
                <div [innerHTML]="problem"></div>
            </div>
            <div *ngIf="show === false && isCode === true" class="fade-in-delay-lg">
                <h3 class="my-3">Example</h3>
                <pre class="line-numbers"><code class="language-js" [innerHTML]="example"></code></pre>
            </div>
            <div *ngIf="show === false && isCode === true" class="my-3 row fade-in-delay-sm">
                <div class="col-12">
                    <button class="btn btn-lg btn-green btn-inverse" (click)="showSolution()">Show Solution</button>
                </div>
            </div>
            <div *ngIf="show === true && isCode === true" class="fade-in-delay-sm">
                <h3 class="my-3">Solution</h3>
                <pre class="line-numbers"><code class="language-js" [innerHTML]="solution"></code></pre>
            </div>
            <div *ngIf="show === true && isCode === true" class="fade-in-delay-md">
                <h3 class="my-3">Explanation</h3>
                <div [innerHTML]="explanation"></div>
            </div>
            <div *ngIf="links?.length && show === true" class="links-container shadow-sm my-4 p-3 fade-in-delay-lg">
                <h2 class="h5">Additional Links</h2>
                <div *ngFor="let link of links" class="mb-2">
                    <img class="link-logo mr-2" [src]="link.iconSrc" [alt]="link.linkType">
                    <a [href]="link.url" class="ml-1">{{link.url}}</a>
                </div>
            </div>
        </div>
        <div *ngIf="failed === true" class="col-12 col-lg-10 offset-lg-1 text-center my-5">
            <h1 class="orbitron-font h2">
                Opps! Something went wrong
            </h1>
            <p class="orbitron-font">
                Click <a [routerLink]="routeBackPath">here</a> to view other {{routeBackTextNotFound}} or try again
                later . . .
            </p>
        </div>
    </div>
</div>