@import "variables";
@import "buttons";

.resume-banner {
  background: rgba(50, 50, 50, 0.9);
  color: $white;
  overflow: hidden;

  a:not(.btn) {
    color: $white;
    text-decoration: underline;
  }

  .btn {
    -webkit-appearance: none;
  }
}

.close-container {
  float: right;
  height: 0;
}

.close-container button {
  position: absolute;
  right: 15px;
  margin-top: -40px;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  border: none;
  padding: 0;
}

.close-container img {
  height: 25px;
  width: 25px;
  margin-left: 1px;
}

.resume-banner:not(.show) {
  animation: collapse 1000ms ease-in-out forwards;
}

@keyframes collapse {
  from {
    max-height: 500px;
    display: block;
  }
  to {
    max-height: 0;
    display: none;
  }
}
