<div *ngIf="show" class="resume-banner pt-5 pb-5">
    <div class="close-container">
        <button (click)="closeResumeBanner()" class="btn btn-outline-secondary">
            <img src="/assets/close.svg" alt="close">
        </button>
    </div>
    <div class="container">
        <h3>LIKE WHAT YOU SEE?</h3>
        <p>Thanks for checking out my website! I'm always looking for new ways to improve myself by
            taking on challenging tasks and roles. If you have an exciting opportunity, I would definitely love to hear
            about it. Just make sure to check out my <a routerLink="/about">portfolio</a> and resume first.</p>
        <a type="button" href="https://drive.google.com/uc?export=download&id=1najTZeyr8iVGT5yWQCfsgzy_w4OR3zKA"
            target="_top" class="btn btn-lg btn-outline-light">Download Resume</a>
    </div>
</div>