.bg-img {
  background-image: url("/assets/dev-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 150vh;
  width: 100vw;
  z-index: -2;
  will-change: transform;
}

.bg-filter {
  top: -80px;
  left: 0;
  height: 150vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.jumbotron {
  background: transparent;
  color: white;
  min-height: 600px;
  display: flex;
  align-items: center;
  text-shadow: 0 0 20px black;

  .logo {
    height: 100px;
    animation: fade-in-delay 2000ms;
  }

  h1 {
    animation: fade-in-delay 2500ms;
  }

  p {
    margin-bottom: 0;
    animation: fade-in-delay 3000ms;
  }
}

@keyframes fade-in-delay {
  0% {
    filter: opacity(0%);
  }

  33% {
    filter: opacity(0%);
  }

  100% {
    filter: opacity(100%);
  }
}

.content {
  background: url("/assets/email-pattern.png");
  min-height: 100vh;
}

.card {
  transform: translateY(-75px);
}
