<app-hero-banner>
    <div class="banner-content">
        <h1 class="orbitron-font fade-in-delay-sm">Projects</h1>
        <div class="filter-btn-container mt-3 fade-in-delay-md">
            <button [ngClass]="{'active': filterCriteria === 'All'}" [disabled]="animate" class="btn btn-green"
                (click)="filter('All')">All</button>
            <button [ngClass]="{'active': filterCriteria === 'Tech'}" [disabled]="animate" class="btn btn-green"
                (click)="filter('Tech')">Tech</button>
            <button [ngClass]="{'active': filterCriteria === 'Music'}" [disabled]="animate" class="btn btn-green"
                (click)="filter('Music')">Music</button>
            <button [ngClass]="{'active': filterCriteria === 'Games'}" [disabled]="animate" class="btn btn-green"
                (click)="filter('Games')">Games</button>
            <button [ngClass]="{'active': filterCriteria === 'Other'}" [disabled]="animate" class="btn btn-green"
                (click)="filter('Other')">Other</button>
        </div>
    </div>
</app-hero-banner>

<div class="content pt-4 pb-4">
    <app-grid *ngIf="items?.length" [items]="items" [filterCriteria]="filterCriteria" [gridCssClass]="gridCssClass">
    </app-grid>
</div>