<app-hero-banner>
    <div class="banner-content">
        <h1 class="orbitron-font fade-in-delay-sm">Coding Problems</h1>
        <div class="filter-btn-container m-3 fade-in-delay-md" *ngIf="filters?.length">
            <button *ngFor="let tag of filters" [ngClass]="{'active': filterCriteria === tag}" [disabled]="filterCriteria === tag"
                class="btn btn-orange mx-3 my-2" (click)="filter(tag)">{{tag}}</button>
        </div>
    </div>
</app-hero-banner>

<div class="content pt-4 pb-4">
    <app-grid *ngIf="items?.length" [items]="items" [filterCriteria]="filterCriteria" [gridCssClass]="gridCssClass">
    </app-grid>
</div>