/* You can add global styles to this file, and also import other style files */

@keyframes fade-in {
  from {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%);
  }
}

[appLazyLoad] {
  transition: filter 1000ms ease-out 300ms;
}

[appLazyLoad]:not(.seen) {
  filter: opacity(0%);
}

[appLazyLoad].seen {
  filter: opacity(100%);
}