/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'buttons';

@keyframes fade-in {
  from {
    filter: opacity(0%);
  }
  to {
    filter: opacity(100%);
  }
}

@keyframes fade-in-delay {
  0% {
    filter: opacity(0%);
  }

  33% {
    filter: opacity(0%);
  }

  100% {
    filter: opacity(100%);
  }
}

[appLazyLoad] {
  transition: filter 1000ms ease-out 300ms;
}

[appLazyLoad]:not(.seen) {
  filter: opacity(0%);
}

[appLazyLoad].seen {
  filter: opacity(100%);
}

body {
  background: $dark-gray;
}

body:not(.loaded) {
  overflow: hidden;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
}

.fade-in-delay-sm {
  animation: fade-in-delay 2000ms;
}

.fade-in-delay-md {
  animation: fade-in-delay 2500ms;
}

.fade-in-delay-lg {
  animation: fade-in-delay 3000ms;
}

.fade-in-delay-xlg {
  animation: fade-in-delay 4000ms;
}

.content {
  background: rgba(255, 255, 255, 0.9);
  min-height: 300px;
}